.card{
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    border: none;
    margin-top: 150px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.center{
   
    margin: 0 auto;
    text-align: center;
   
}

body{
 background-color: #D3EB00;
    
}
.title{
    margin-top: 40px;
}
.imgs{
    width: 500px;
    max-width: 100%;
}